__pycache__
.venv
venv
local/
.env
.DS_Store

.aider*
.vscode

# Terraform state and providers
/.terraform/

# Ignore all content inside environments directories...
**/environments/*

# ...but re-include the dev-infra-example and im8-prod directories and their template content.
!**/environments/dev-infra-example/
!**/environments/im8-prod/
**/environments/im8-prod/im8.tfvars
**/environments/im8-prod/backend.tf
**/environments/im8-prod/.certs/
**/environments/im8-prod/.terraform*
**/environments/im8-prod/*.tfstate*

genmedia-agent-demos
.gemini
.agents